extends layout

block pagestyles

block content
	.container-fluid
		form(class='entryForm', method='Post')
			.row
				.col-md-12.col-sm-12.col-xs-12.col-lg-12
					.panel.panel-info
						div(class='menupanel panel-heading')
							div(align='center')
								h1(class='panel-title') Forgot Password
						div(class='panel-body')
							if message
								.row
									.col-12
										.alert.alert-danger
											strong #{message}
							.row
								.col-12
									.input-group.input-group-lg
										span(class='input-group-addon',id='emailAddon') User / Email
										input(id='email',name='email', class='form-control', aria-describedby='emailAddon')
							.row
								.col-md-12.col-sm-12.col-xs-12.col-lg-12
									button(type='submit', class='submitButton btn btn-default btn-lg btn-block') Reset
						.panel-footer
block pagescripts