extends layout

block content
	.container
		.row
			div(class='col-md-12 col-sm-12 col-xs-12 col-lg-12' align='center')
				.panel.panel-info
					div(class='menupanel panel-heading')
						h1(class='panel-title') #{title}
					div(class='panel-body')
							button(type='button', class='menubutton btn btn-default btn-lg btn-block', onClick='recordLesson()') Record Lesson
							button(type='button', class='menubutton btn btn-default btn-lg btn-block') Student Record
							button(type='button', class='menubutton btn btn-default btn-lg btn-block') Contract Setup
					.panel-footer
block pagescripts
	script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
	script(src='/javascripts/indexFunctions.js')