extends layout

block content
	.container-fluid
		.row
			div(class='col-md-12 col-sm-12 col-xs-12 col-lg-12')
				.panel.panel-info
					div(class='menupanel panel-heading', align='center')
						h1(class='panel-title') #{title}
					div(class='panel-body')
							button(type='button', class='menubutton btn btn-default btn-lg btn-block', onClick='openLessons()') Lessons
							button(type='button', class='menubutton btn btn-default btn-lg btn-block', onClick='openContracts()') Contracts
							button(type='button', class='menubutton btn btn-default btn-lg btn-block', onClick='openStudents()') Students
							button(type='button', class='menubutton btn btn-default btn-lg btn-block', onClick='openInstructors()') Instructors
					.panel-footer
block pagescripts
	script(src='/javascripts/indexFunctions.js')