extends layout

block pagestyles
	link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css')

block content
	.container-fluid
		form(class='entryForm', method='Post')
			.row
				.col-md-12.col-sm-12.col-xs-12.col-lg-12
					.panel.panel-info
						div(class='menupanel panel-heading', align='center')
							h1(class='panel-title') Lesson
						div(class='panel-body')
							.row
								.col-12
									.input-group.input-group-lg
										span(class='input-group-addon',id='studentAddon') Student
										select(id='student',name='student', class='form-control', aria-describedby='studentAddon')
											each student in customers
												option(value=student.id) #{student.first_name}
											else
												option Empty
							.row
								.col-12
									.input-group.input-group-lg
										span(class='input-group-addon',id='dayAddon') Day
										select(id='day',name='day', class='form-control', aria-describedby='dayAddon')
							.row
								.col-12
									.input-group.input-group-lg
										span(class='input-group-addon',id='monthAddon') Month
										select(id='month',name='month', class='form-control', aria-describedby='monthAddon')
							.row
								.col-12
									.input-group.input-group-lg
										span(class='input-group-addon',id='monthAddon') Year
										select(id='year',name='year', class='form-control', aria-describedby='yearAddon')
							.row
								.col-12
									.input-group.input-group-lg
										span(class='input-group-addon',id='timeAddon') Start Time
										select(id='time',name='time', class='form-control', aria-describedby='timeAddon')
							.row
								.col-12
									.input-group.input-group-lg
										span(class='input-group-addon',id='durationAddon') Lesson Length
										select(id='duration', name='duration', class='form-control', aria-describedby='durationAddon')
							.row
								.col-12
									.input-group.input-group-lg
										span(class='input-group-addon',id='instructorAddon') Instructor
										select(id='instructor',name='instructor', class='form-control', aria-describedby='instructorAddon')
											each staffMember in staff
												option(value=staffMember.id) #{staffMember.first_name}
											else
												option Empty
							.row
								.col-12
									button(type='submit', class='submitButton btn btn-default btn-lg btn-block') Enter
						.panel-footer
block pagescripts
	script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
	script(src='/javascripts/lessonFunctions.js')