extends ../layout

block content
	.container-fluid
		.row
			div(class='col-md-12 col-sm-12 col-xs-12 col-lg-12')
				.panel.panel-info
					div(class='menupanel panel-heading')
						span(class='backspan')
							a(href='../')
								span(class='glyphicon glyphicon-chevron-left', aria-hidden='true')
						div(align='center')
							h1(class='panel-title') Students
					div(class='panel-body')
							button(type='button', class='menubutton btn btn-default btn-lg btn-block', onClick='addStudent()') Add Student
							button(type='button', class='menubutton btn btn-default btn-lg btn-block', onClick='studentRecord()') Student Record
							button(type='button', class='menubutton btn btn-default btn-lg btn-block', onClick='editStudent()') Edit Student
							button(type='button', class='menubutton btn btn-default btn-lg btn-block', onClick='removeStudent()') Remove Student
					.panel-footer
block pagescripts
	script(src='/javascripts/studentFunctions.js')