.menubutton {
    font-size:4em !important;
    height:130px !important;
}

.menupanel {
    padding-top: 50px !important;
    padding-bottom:50px !important;
}

h1 {
    font-size:6em !important;
}

body {
    padding-top:20px;
}

.container {
    padding-left:5px !important;
    padding-right:5px !important;
}
