.menubutton {
    font-size:4em !important;
    height:160px !important;
}

.menupanel {
    padding-top: 50px !important;
    padding-bottom:50px !important;
}

.panel-title {
    font-size:6em !important;
}

body {
    padding-top:20px;
    /*background-image: url("../images/dance.jpg");
    background-repeat: repeat-x;
    background-position:bottom;*/
}

.container {
    padding-left:5px !important;
    padding-right:5px !important;
}

.row {
    padding-top: 5px !important;
    padding-bottom:5px !important;
    padding-left:5px !important;
    padding-right:5px !important;
}

.formlabel {
    
}

.lessonsubmitbutton {
    font-size:4em !important;
    height:160px !important;
}

.input-group > span {
    min-width:150px;
}