button {
    font-size:2em !important;
}

h1 {
    font-size:4em !important;
}

body {
    padding-top:20px;
}

.container {
    padding-left:5px !important;
    padding-right:5px !important;
}
