extends ../layout

block pagestyles

block content
	.container-fluid
		form(class='entryForm', method='Post', action='confirmlesson')
			.row
				.col-md-12.col-sm-12.col-xs-12.col-lg-12
					.panel.panel-info
						div(class='menupanel panel-heading')
							span(class='backspan')
								a(href='../')
									span(class='glyphicon glyphicon-chevron-left', aria-hidden='true')
							div(align='center')
								h1(class='panel-title') Success
						div(class='panel-body', align='center')
							.row
								.col-12
									span(class='thumbsup glyphicon glyphicon-thumbs-up', aria-hidden='true')
						.panel-footer
block pagescripts